<section class="product container">
  <div class="product-list">
    <!-- <div class="product-item">
      <div class="product-action">
        <button><i class="fas fa-edit"></i></button>
        <button><i class="fas fa-times"></i></button>
      </div>
      <img src="/src/assets/images/dnt.png" alt="Product image" class="product-img">
      <p class="product-name">Dac Nhan Tam</p>
      <p class="product-price">10$</p>
      <p class="product-des">Description</p>
    </div> -->
    <p>No products</p>
  </div>
</section>